@import '_breakpoints.scss';

body {
  background-color: #001;
}

.App {
  margin: 0 auto;
  max-width: 900px;
  margin: 0 auto
}

a {
  color: #0079bf;
  font-weight: 700;
  text-decoration: none;
}

button {
  display: block;
  margin-bottom: 20px;
}

.quiz-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;

}

.quiz-card {
  width: 100%;
  margin: 40px auto;
  max-width: 400px;
  border-radius: 6px;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.21);
  text-align: center;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.4);
  }

  @include bp(sm) {
    max-width: calc(50% - 20px);
    margin: 10px;
  }

  @include bp(md) {
    max-width: calc(33.33% - 20px);
  }

  button {
    margin: 0 auto;
  }

  .quiz-card-inner {
    padding: 20px;
    background-color: #fff;
  }
}

.productCard {
  width: 100%;
  margin-bottom: 40px;

  @include bp(sm) {
    width: calc(33.33% - 20px);
    margin: 10px;
  }
}

.productCard img {
  width: 100%;
}

.productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.productTitle {
  font-weight: 700;
  text-transform: capitalize;
}


.quizContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.quizContainer img {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(108, 117, 158, 0.8);
  width: 100%;
  min-height: 100%;

}

.quizModal,
.productModal {
  position: relative;
  z-index: 1;
  background-color: #fefefe;
  padding: 30px;
  border-radius: 3px;
  display: inline-block;
  margin: 20px auto;
  width: 75%;
  max-width: 500px;

  min-height: 400px;

  @include bp(sm) {
    width: 60%;

  }
}

.productModal {
  width: 75%;
  max-width: 800px;
}

.question {
  text-align: center;
}



.optionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 700px;
  flex-flow: row wrap;
}

.optionsContainer .option {
  padding: 15px 20px;
  font-size: 16px;
  width: calc(50% - 20px);
  margin: 10px;
  background-color: black;
  &.active {
    background-color: #fff;
    border: 3px solid #000;
    color: black;
  }
  &.img-btn{
    padding: 0;
    padding-top: 36.5%;
    overflow: hidden;
    position: relative;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}


.hide {
  display: none;
}

.progress-bar {
  height: 10px;
  background-color: #444;
  display: block;
  -webkit-transition: 0.8s cubic-bezier(0.95, 0.18, 0.48, 0.79);
  transition: 0.8s cubic-bezier(0.95, 0.18, 0.48, 0.79);
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.bannerImage {
  overflow: hidden;
  padding-top: 75%;
  width: 100%;
  position: relative;
  margin: 10px 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}



.button-container {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 70px);
  display: flex;
  justify-content: space-between;
}


button {
  font-size: 18px;
  background-color: #000;
  color: #fefefe;
  padding: 15px 20px;
  border-radius: 4px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.21);
  }
  
}






.color-btn {
  height: 50px;
  &.active{
    box-shadow: 0px 1px 15px rgba(0,0,0,.4)
  }
}